@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

:root {
  --alt-color: #979797;
  --main-color: #0b0d17;
  --secend-color: #d2d8f9;
  --hover-color: #85868b;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --main-font: "Barlow Condensed", sans-serif;
  --secend-font: "Bellefair", serifs;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.title {
  margin-bottom: 50px;
  margin-left: 150px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #d2d8f9;
}

.title span {
  color: #85868b;
  margin-right: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .title {
    margin-left: 0;
    text-align: center;
  }
}
